img{
    height:300px;
    width: 200px;
    padding-right: 230px;
    padding-left: 230px;
    
    text-align: center;
    margin-left: 20em;
}
h1{
    text-align: center;
    
   
}
h2{
    text-align: center;
    
   
}
a{
    text-align: center;
    color: black;
   
}
