h1{
    text-align:center;
    color: black;
}
img{
    height: 200px;
    width: 200px;
    padding-right: 230px;
    padding-left: 230px;
    margin-left: 20em;
}
h4{
    text-align: center;
}
a{
    text-align: center;
    color:#b94e4e ;

    
}
